<% provide(:title, 'About Qusic') %>
<h1>About Us</h1>
	<div class="row">
	<p class="span9">
		Qusic helps you track the songs that you like. 
	</p>
	</div>
	<div class="row">
	<p class="span9">
		You know the routine: you've just discovered an incredible new track by an awesome Brooklyn-based wonderband. They're the next big thing, definitely. You've had their YouTube on repeat...it's had about 400 listens & at least 10 of them are you.
	</p>
	</div>
	<div class="row">
	<p class="span9">
		It's so fresh it doesn't even have a video, so there's no way it's on iTunes or Spotify. It won't even be out for another 3 months...how are you going to keep track of it? 
	</p>
	</div>
	<div class="row">
	<p class="span9">
		Simple.
	</p>
	</div>
	<div class="row">
	<p class="span9">
		Just log onto Qusic, tell us what track it is & we'll email you a link when it's out.  It's as easy as that!
	</p>
	</div>
		