<div class="center hero-unit drop-shadow">
  <h1>Welcome to Qusic</h1>
  <h2>
    Keeping track of your favourite tracks!
  </h2>
	<div class="row-fluid welcome-icons">
		<div class="span6 center headphones">
			<%= image_tag('headphones_2.svg') %>
		</div>
		<div class="span6 center">
			<%= image_tag('mail.svg') %>
		</div>
	</div>
	<div class="row-fluid welcome-explain">
		<div class="span6 center">
			<h3>Tell us what you want to track</h3>
		</div>
		<div class="span6 center">
			<h3>We'll email when it comes out</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div>
			<%= link_to "Get started!", signup_path,
                            	class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>