---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?page=1&q=The%20xx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?page=1&q=The%20xx
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 812, "limit": 100, "offset": 0, "query":
        "The xx", "type": "track", "page": 1}, "tracks": [{"album": {"released": "2009",
        "href": "spotify:album:2nXJkqkS1tIKIyhBcFMmwz", "name": "xx", "availability":
        {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AS AT AU AW AX AZ BA BB
        BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW BY BZ CA CC CD CF CG CH CI CK
        CL CM CN CO CR CU CV CX CY CZ DE DJ DK DM DO DZ EC EE EG EH ER ES ET FI FJ
        FK FM FO FR GA GB GD GE GF GG GH GI GL GM GN GP GQ GR GS GT GU GW GY HK HM
        HN HR HT HU ID IE IL IM IN IO IQ IR IS IT JE JM JO KE KG KH KI KM KN KP KR
        KW KY KZ LA LB LC LI LK LR LS LT LU LV LY MA MC MD ME MG MH MK ML MM MN MO
        MP MQ MR MS MT MU MV MW MX MY MZ NA NC NE NF NG NI NL NO NP NR NU NZ OM PA
        PE PF PG PH PK PL PM PN PR PS PT PW PY QA RE RO RS RU RW SA SB SC SD SE SG
        SH SI SJ SK SL SM SN SO SR ST SV SY SZ TC TD TF TG TH TJ TK TL TM TN TO TR
        TT TV TW TZ UA UG UM UY UZ VA VC VE VG VI VN VU WF WS YE YT ZA ZM ZW ZZ"}},
        "name": "Intro", "popularity": "0.78557", "external-ids": [{"type": "isrc",
        "id": "GBBKS0900196"}], "length": 127.0, "href": "spotify:track:0bXpmJyHHYPk6QBFj25bYF",
        "artists": [{"href": "spotify:artist:3iOvXCl6edW5Um0fXEBRXy", "name": "The
        xx"}], "track-number": "1"}, {"album": {"released": "2009", "href": "spotify:album:2nXJkqkS1tIKIyhBcFMmwz",
        "name": "xx", "availability": {"territories": "AD AE AF AG AI AL AM AN AO
        AQ AR AS AT AU AW AX AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW
        BY BZ CA CC CD CF CG CH CI CK CL CM CN CO CR CU CV CX CY CZ DE DJ DK DM DO
        DZ EC EE EG EH ER ES ET FI FJ FK FM FO FR GA GB GD GE GF GG GH GI GL GM GN
        GP GQ GR GS GT GU GW GY HK HM HN HR HT HU ID IE IL IM IN IO IQ IR IS IT JE
[...]
[...]
