---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?page=1&q=Zulu%20Winter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?page=1&q=Zulu%20Winter
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 50, "limit": 100, "offset": 0, "query":
        "Zulu Winter", "type": "track", "page": 1}, "tracks": [{"album": {"released":
        "2012", "href": "spotify:album:2jEY7USuLOYkmZEIslikWV", "name": "We Should
        Be Swimming", "availability": {"territories": "AD AL AM AT AZ BA BE BG BY
        CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC MD MK MT
        NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "We Should Be Swimming",
        "popularity": "0.49433", "external-ids": [{"type": "isrc", "id": "GBENL1100579"}],
        "length": 221.0, "href": "spotify:track:2Aq58JDGeVOMzldj01TOxN", "artists":
        [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu Winter"}],
        "track-number": "1"}, {"album": {"released": "2012", "href": "spotify:album:1gJiUgwYw0ITg33M0nh2YS",
        "name": "Silver Tongue", "availability": {"territories": "AD AL AM AT AZ BA
        BE BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC
        MD MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Silver Tongue",
        "popularity": "0.48843", "external-ids": [{"type": "isrc", "id": "GBENL1200587"}],
        "length": 199.0, "href": "spotify:track:2lx0KWF6OUBH66GiYdWsio"[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?page=2&q=Zulu%20Winter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?page=2&q=Zulu%20Winter
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 50, "limit": 100, "offset": 100, "query":
        "Zulu Winter", "type": "track", "page": 2}, "tracks": []}'
  recorded_at: Thu, 02 Aug 2012 12:10:03 GMT
[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20We%20Should%20Be%20Swimming%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20We%20Should%20Be%20Swimming%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20We%20Should%20Be%20Swimming&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 54 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20We%20Should%20Be%20Swimming&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20We%20Should%20Be%20Swimming&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - ST11
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '2082006'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":466212449, \"collectionId\":510649821, \"trackId\":510649827,
        \"artistName\":\"Zulu Winter\", \"collectionName\":\"Language\", \"trackName\":\"We
        Should Be Swimming\", \"collectionCensoredName\":\"Language\", \"trackCensoredName\":\"We
        Should Be Swimming\", \"artistViewUrl\":\"http://itunes.apple.com/gb/artist/zulu-winter/id466212449?uo=4\",
        \"collectionViewUrl\":\"http://itunes.apple.com/gb/album/we-should-be-swimming/id510649821?i=510649827&uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/gb/album/we-should-be-swimming/id510649821?i=510649827&uo=4\",
        \"previewUrl\":\"http://a2.mzstatic.com/us/r1000/098/Music/6b/4f/c0/mzi.vxeqkrgi.aac.p.m4a\",
        \"artworkUrl30\":\"http://a5.mzstatic.com/us/r30/Music/v4/11/cd/31/11cd3146-7628-a4bc-ca52-d6b9e8ae1eb5/cover.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a4.mzstatic.com/us/r30/Music/v4/11/cd/31/11cd3146-7628-a4bc-ca52-d6b9e8ae1eb5/cover.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a1.mzstatic.com/us/r30/Music/v4/11/cd/31/11cd3146-7628-a4bc-ca52-d6b9e8ae1eb5/cover.100x100-75.jpg\",
        \"collectionPrice\":5.99, \"trackPrice\":0.99, \"releaseDate\":\"2012-05-11T07:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":11, \"trackNumber\":2, \"trackTimeMillis\":246120,
        \"country\":\"GBR\", \"currency\":\"GBP\", \"primaryGenreName\":\"Alternative\"}]\n}\n\n\n"
  recorded_at: Thu, 02 Aug 2012 12:10:08 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Silver%20Tongue%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Silver%20Tongue%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      enc[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 68 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue&entity=song&count[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Bitter%20Moon%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Bitter%20Moon%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encodin[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Bitter%20Moon&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 67 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Bitter%20Moon&entity=song&country=G[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Key%20To%20My%20Heart%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Key%20To%20My%20Heart%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    bod[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Key%20To%20My%20Heart&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 83 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Key%20To%20My%20Heart&entit[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Let's%20Move%20Back%20To%20Front%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Let's%20Move%20Back%20To%20Front%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 201[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Let's%20Move%20Back%20To%20Front&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 76 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Let's%20Move%20B[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20You%20Deserve%20Better%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20You%20Deserve%20Better%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    b[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20You%20Deserve%20Better&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 71 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20You%20Deserve%20Better&ent[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Small%20Pieces%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Small%20Pieces%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encod[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Small%20Pieces&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 43 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Small%20Pieces&entity=song&country[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Moment's%20Drift%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Moment's%20Drift%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "Zulu
        Winter Moment''s Drift NOT karaoke", "type": "track", "page": 1}, "tracks":
        [{"album": {"released": "2012", "href": "spotify:album:2PO9jUeGG2vZWDbUwFFJcz",
        "name": "Language", "availability": {"territories": "AD AL AM AT AZ BA BE
        BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC MD
        MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Moment''s Drift",
        "popularity": "0.37870", "external-ids": [{"type": "isrc", "id": "GBENL1200590"}],
        "length": 217.0, "href": "spotify:track:03kklgVvw1Tw6qrAV8VQLe", "artists":
        [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu Winter"}],
        "track-number": "8"}]}'
  recorded_at: Thu, 02 Aug 2012 12:10:10 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Moment's%20Drift&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 44 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Moment's%20Drift&entity=song&cou[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Words%20That%20I%20Wield%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Words%20That%20I%20Wield%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
 [...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Words%20That%20I%20Wield&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 63 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Words%20That%20I%20Wield[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Never%20Leave%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Never%20Leave%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encodin[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Never%20Leave&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 84 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Never%20Leave&entity=song&country=G[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20People%20That%20You%20Must%20Remember%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20People%20That%20You%20Must%20Remember%20NOT%20karaoke
      last-modified:
      - Mon, [...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20People%20That%20You%20Must%20Remember&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 108 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20People%20T[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Sycamore%20Trees%20-%20Demo%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Sycamore%20Trees%20-%20Demo%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "Zulu
        Winter Sycamore Trees - Demo NOT karaoke", "type": "track", "page": 1}, "tracks":
        [{"album": {"released": "2012", "href": "spotify:album:2jEY7USuLOYkmZEIslikWV",
        "name": "We Should Be Swimming", "availability": {"territories": "AD AL AM
        AT AZ BA BE BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT
        LU LV MC MD MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Sycamore
        Trees - Demo", "popularity": "0.29690", "external-ids": [{"type": "isrc",
        "id": "GBENL1100582"}], "length": 189.0, "href": "spotify:track:7uklDG55bqduzW91E6Q1jQ",
        "artists": [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu
        Winter"}], "track-number": "2"}]}'
  recorded_at: Thu, 02 Aug 2012 12:10:11 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Sycamore%20Trees%20-%20Demo&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 43 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Sycamore%20Trees%20-%[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Silver%20Tongue%20-%20Asobi%20Seksu%20Remix%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Silver%20Tongue%20-%20Asobi%20Seksu%20Remix%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "Zulu
        Winter Silver Tongue - Asobi Seksu Remix NOT karaoke", "type": "track", "page":
        1}, "tracks": [{"album": {"released": "2012", "href": "spotify:album:3mQQksrA8dclFOI7jgmT9o",
        "name": "Silver Tongue", "availability": {"territories": "AD AL AM AT AZ BA
        BE BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC
        MD MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Silver Tongue
        - Asobi Seksu Remix", "popularity": "0.23226", "external-ids": [{"type": "isrc",
        "id": "GBENL1200628"}], "length": 214.0, "href": "spotify:track:0GIWkziDDICgunjZCFdcWs",
        "artists": [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu
        Winter"}], "track-number": "2"}]}'
  recorded_at: Thu, 02 Aug 2012 12:10:12 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Asobi%20Seksu%20Remix&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 55 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silve[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20NOT%20karaoke
      last-modified:
      - Mon, 30[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 47 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Ton[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Silver%20Tongue%20-%20No%20Ceremony%20%2F%2F%2F%20Remix%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Silver%20Tongue%20-%20No%20Ceremony%20%2F%2F%2F%20Remix%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "Zulu
        Winter Silver Tongue - No Ceremony /// Remix NOT karaoke", "type": "track",
        "page": 1}, "tracks": [{"album": {"released": "2012", "href": "spotify:album:3mQQksrA8dclFOI7jgmT9o",
        "name": "Silver Tongue", "availability": {"territories": "AD AL AM AT AZ BA
        BE BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC
        MD MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Silver Tongue
        - No Ceremony /// Remix", "popularity": "0.22125", "external-ids": [{"type":
        "isrc", "id": "GBENL1200627"}], "length": 321.0, "href": "spotify:track:3JIpaVHi3ywspsVkCM2WHt",
        "artists": [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu
        Winter"}], "track-number": "5"}]}'
  recorded_at: Thu, 02 Aug 2012 12:10:13 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20No%20Ceremony%20%2F%2F%2F%20Remix&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 62 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20No%20Ceremony%20%2F%2F%2F%20Remix&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20No%20Ceremony%20%2F%2F%2F%20Remix&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '3010007'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
  recorded_at: Thu, 02 Aug 2012 12:10:13 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Silver%20Tongue%20-%20Dems%20Remix%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Silver%20Tongue%20-%20Dems%20Remix%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "Zulu
        Winter Silver Tongue - Dems Remix NOT karaoke", "type": "track", "page": 1},
        "tracks": [{"album": {"released": "2012", "href": "spotify:album:3mQQksrA8dclFOI7jgmT9o",
        "name": "Silver Tongue", "availability": {"territories": "AD AL AM AT AZ BA
        BE BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC
        MD MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Silver Tongue
        - Dems Remix", "popularity": "0.21327", "external-ids": [{"type": "isrc",
        "id": "GBENL1200626"}], "length": 272.0, "href": "spotify:track:7HXAlnKIeNgxlrOLZBZz9y",
        "artists": [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu
        Winter"}], "track-number": "4"}]}'
  recorded_at: Thu, 02 Aug 2012 12:10:13 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Dems%20Remix&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 81 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Dems%20Remix&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Dems%20Remix&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - ST11
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '2056006'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
  recorded_at: Thu, 02 Aug 2012 12:10:13 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20(Instrumental)%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20(Instrumental)%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1, "limit": 100, "offset": 0, "query": "Zulu
        Winter Silver Tongue - Mmoths Remix (Instrumental) NOT karaoke", "type": "track",
        "page": 1}, "tracks": [{"album": {"released": "2012", "href": "spotify:album:3mQQksrA8dclFOI7jgmT9o",
        "name": "Silver Tongue", "availability": {"territories": "AD AL AM AT AZ BA
        BE BG BY CH CY CZ DE DK EE ES FI FR GB GE GR HR HU IE IS IT LI LT LU LV MC
        MD MK MT NL NO PL PT RO RU SE SI SK SM TR UA VA"}}, "name": "Silver Tongue
        - Mmoths Remix (Instrumental)", "popularity": "0.19131", "external-ids": [{"type":
        "isrc", "id": "GBENL1200630"}], "length": 273.0, "href": "spotify:track:2stDqrJ2ttaoH92AXsJ52j",
        "artists": [{"href": "spotify:artist:2DtrE0mryOk5L7uR3RZqmd", "name": "Zulu
        Winter"}], "track-number": "6"}]}'
  recorded_at: Thu, 02 Aug 2012 12:10:13 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20(Instrumental)&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 79 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20(Instrumental)&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Zulu%20Winter%20Silver%20Tongue%20-%20Mmoths%20Remix%20(Instrumental)&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '1017014'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
  recorded_at: Thu, 02 Aug 2012 12:10:14 GMT
recorded_with: VCR 2.2.3
