<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span5">
    <%= render 'shared/user_info' %>
  </aside>
  <div class="span7">
    <%= render 'users/interests/artist_table' %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= render 'users/interests/track_table' %>
  </div>
</div>
