<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row playerstitle">
	<h3>Where should we track your tracks?</h3>
	<div class="row">
		<form class="form-inline playerschecks">
			<label class="checkbox iTunes">
				<input type="checkbox">iTunes</input>
			</label>
			<label class="checkbox Spotify">
				<input type="checkbox">Spotify</input>
			</label>
		</form>
	</div>
</div>