---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/nigelpurves/artists/tracked.json?apikey=pNAGmi2khmWjJxT2&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"results":{"artist":[{"uri":"http:\/\/www.songkick.com\/artists\/3532791-254?utm_source=15044&utm_medium=partner","displayName":"2:54","id":3532791,"onTourUntil":"2012-09-20","identifier":[]},{"uri":"http:\/\/www.songkick.com\/artists\/2129659-academy-of-london?utm_source=15044&utm_medium=partner","displayName":"Academy
        of London","id":2129659,"onTourUntil":null,"identifier":[{"href":"http:\/\/api.songkick.com\/api\/3.0\/artists\/mbid:34bbf6b0-19dd-4417-b8b1-90f4fa9a1c34.json","eventsHref":"http:\/\/api.songkick.com\/api\/3.0\/artists\/mbid:34bbf6b0-19dd-4417-b8b1-90f4fa9a1c34\/calendar.json","mbid":"34bbf6b0-19dd-4417-b8b1-90f4fa9a1c34","setlistsHref":"http:\/\/api.songkick.com\/api\/3.0\/artists\/mbid:34bbf6b0-19dd-4417-b8b1-90f4fa9a1c34\/setlists.json"}]},{"uri":"http:\/\/www.songkick.com\/artists\/2874581-active-child?utm_source=15044&utm_medium=partner","displayName":"Active
        Child","id":2874581,"onTourUntil":"2012-08-17","identifier":[{"href":"http:\/\/api.songkick.com\/api\/3.0\/artists\/mbid:979437d4-9514-4078-89cd-0b87907ddf86.json","eventsHref":"http:\/\/api.songkick.com\/api\/3.0\/artists\/mbid:979437d4-9514-4078-89cd-0b87907[...]
[...]
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/nigelpurves/artists/tracked.json?apikey=pNAGmi2khmWjJxT2&page=13
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"results":{},"totalEntries":596,"perPage":50,"page":13,"status":"ok"}}'
  recorded_at: Fri, 10 Aug 2012 17:47:04 GMT
[...]
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/nigelpruves/artists/tracked.json?apikey=pNAGmi2khmWjJxT2&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"status":"error","error":{"message":"User not found"}}}'
  recorded_at: Tue, 14 Aug 2012 15:16:16 GMT
[...]
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/users/nigelpurves/artists/tracked.json?apikey=pNAGmi2khmWjJxT2&page=100
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"results":{},"totalEntries":596,"perPage":50,"page":100,"status":"ok"}}'
  recorded_at: Tue, 14 Aug 2012 15:19:58 GMT
recorded_with: VCR 2.2.3
