<%= provide(:title, 'My Bookmarklet') %>
<h1>My Bookmarklet</h1>

<p>
  Just drag & drop your bookmarklet to your browser bar and track music by dragging links onto it.
  It is as simple as that!
</p>
<%= render 'shared/bookmarklet_link', user: @user %>
<p>
  Your bookmarklet token is:
  <pre><%= @user.bookmarklet_token %></pre>
</p>
