<tr>
  <td class="name"><%= artist_interest.name %></td>
  <td class="time"><%= time_ago_in_words(artist_interest.created_at) %></td>
  <td class="actions">
    <% if current_user?(artist_interest.user) %>
      <%= link_to "delete", user_interest_path(artist_interest.user, artist_interest), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  </td>
</tr>
