---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=%2BAC%2FDC%20%2BBack%20in%20Black%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=%2BAC%2FDC%20%2BBack%20in%20Black%20NOT%20karaoke
      last-modified:
      - Tue, 10 Jul 2012 15:39:25 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 279, "limit": 100, "offset": 0, "query":
        "+AC/DC +Back in Black NOT karaoke", "type": "track", "page": 1}, "tracks":
        [{"album": {"released": "2011", "href": "spotify:album:6zflTb77tIhFcO8RqHmrtK",
        "name": "AC/DC Mania ( AC / DC Deluxe Version ) - 10 Massive ACDC Anthems!",
        "availability": {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AS AT AU
        AW AX AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW BY BZ CA CC CD
        CF CG CH CI CK CL CM CN CO CR CU CV CX CY CZ DE DJ DK DM DO DZ EC EE EG EH
        ER ES ET FI FJ FK FM FO FR GA GB GD GE GF GG GH GI GL GM GN GP GQ GR GS GT
        GU GW GY HK HM HN HR HT HU ID IE IL IN IO IQ IR IS IT JM JO JP KE KG KH KI
        KM KN KP KR KW KY KZ LA LB LC LI LK LR LS LT LU LV LY MA MC MD ME MG MH MK
        ML MM MN MO MP MQ MR MS MT MU MV MW MX MY MZ NA NC NE NF NG NI NL NO NP NR
        NU NZ OM PA PE PF PG PH PK PL PM PN PR PS PT PW PY QA RE RO RS RU RW SA SB
        SC SD SE SG SH SI SJ SK SL SM SN SO SR ST SV SY SZ TC TD TF TG TH TJ TK TL
        TM TN TO TR TT TV TW TZ UA UG UM US UY UZ VA VC VE VG VI VN VU WF WS YE YT
        ZA ZM ZW ZZ"}}, "name": "Back In Black", "popularity": "0.59803", "external-ids":
        [{"type": "isrc", "id": "CAM461036606"}], "length": 256.0, "href": "spotify:track:58PGqrTJ1TUEzWs9k6IR92",
        "artists": [{"href": "spotify:artist:3yjc3GIrh06KyX0B8XVIcT", "name": "The
        Rock Masters"}], "track-number": "2"}, {"album": {"released": "2012", "href":
        "spotify:album:4beYLa3RTASSTBYbbzOqdQ", "name": "Monsters of Rock Live - Volume
        1", "availability": {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AS AT
        AU AW AX AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW BY BZ CA CC
        CD CF CG CH CI CK CL CM CN CO CR CU CV CX CY CZ DE DJ DK DM DO DZ EC EE EG
        EH ER ES ET FI FJ FK FM FO FR GA GB GD GE GF GG GH GI GL GM GN GP GQ GR GS
        GT GU GW GY HK HM HN HR H[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=AC%2FDC%20Back%20in%20Black&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 33 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=AC%2FDC%20Back%20in%20Black&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=AC%2FDC%20Back%20in%20Black&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '1007009'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":339417229, \"collectionId\":352028232, \"trackId\":352028254,
        \"artistName\":\"Smash Hits Cover Band\", \"collectionName\":\"AC/DC - Back
        In Black\", \"trackName\":\"Back In Black\", \"collectionCensoredName\":\"AC/DC
        - Back In Black\", \"trackCensoredName\":\"Back In Black\", \"artistViewUrl\":\"http://itunes.apple.com/gb/artist/smash-hits-cover-band/id339417229?uo=4\",
        \"collectionViewUrl\":\"http://itunes.apple.com/gb/album/back-in-black/id352028232?i=352028254&uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/gb/album/back-in-black/id352028232?i=352028254&uo=4\",
        \"previewUrl\":\"http://a5.mzstatic.com/us/r1000/012/Music/49/7b/04/mzi.ceuamtvx.aac.p.m4a\",
        \"artworkUrl30\":\"http://a2.mzstatic.com/us/r1000/056/Music/27/36/e3/mzi.ccojfxay.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a1.mzstatic.com/us/r1000/056/Music/27/36/e3/mzi.ccojfxay.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a3.mzstatic.com/us/r1000/056/Music/27/36/e3/mzi.ccojfxay.100x100-75.jpg\",
        \"collectionPrice\":0.79, \"trackPrice\":0.79, \"releaseDate\":\"2010-02-02T08:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":1, \"trackNumber\":1, \"trackTimeMillis\":208167,
        \"country\":\"GBR\", \"currency\":\"GBP\", \"primaryGenreName\":\"Rock\"}]\n}\n\n\n"
  recorded_at: Thu, 12 Jul 2012 16:58:09 GMT
recorded_with: VCR 2.2.3
