---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Alabama%20Shakes%20Hold%20On%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Alabama%20Shakes%20Hold%20On%20NOT%20karaoke
      last-modified:
      - Wed, 25 Jul 2012 15:46:25 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 6, "limit": 100, "offset": 0, "query": "Alabama
        Shakes Hold On NOT karaoke", "type": "track", "page": 1}, "tracks": [{"album":
        {"released": "2012", "href": "spotify:album:4T5HcyeH1iwJezAZdgrhw0", "name":
        "Hold On", "availability": {"territories": "US"}}, "name": "Hold On", "popularity":
        "0.70349", "external-ids": [{"type": "isrc", "id": "USATO1200067"}], "length":
        229.453, "href": "spotify:track:7c13Xlndg43PnSzpHRD11d", "artists": [{"href":
        "spotify:artist:16GcWuvvybAoaHr0NqT8Eh", "name": "Alabama Shakes"}], "track-number":
        "1"}, {"album": {"released": "2012", "href": "spotify:album:08ganBQBnRuCWcpkAwZ4IS",
        "name": "Boys & Girls", "availability": {"territories": "US"}}, "name": "Hold
        On", "popularity": "0.67099", "external-ids": [{"type": "isrc", "id": "USATO1200017"}],
        "length": 226.186, "href": "spotify:track:0LcBTwZ84PAZKMDPjeEglx", "artists":
        [{"href": "spotify:artist:16GcWuvvybAoaHr0NqT8Eh", "name": "Alabama Shakes"}],
        "track-number": "1"}, {"album": {"released"[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Alabama%20Shakes%20Hold%20On&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 74 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Alabama%20Shakes%20Hold%20On&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Alabama%20Shakes%20Hold%20On&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - ST11
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '2087003'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":498509884, \"collectionId\":499856834, \"trackId\":499856838,
        \"artistName\":\"Alabama Shakes\", \"collectionName\":\"Boys & Girls\", \"trackName\":\"Hold
        On\", \"collectionCensoredName\":\"Boys & Girls\", \"trackCensoredName\":\"Hold
        On\", \"artistViewUrl\":\"http://itunes.apple.com/gb/artist/alabama-shakes/id498509884?uo=4\",
        \"collectionViewUrl\":\"http://itunes.apple.com/gb/album/hold-on/id499856834?i=499856838&uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/gb/album/hold-on/id499856834?i=499856838&uo=4\",
        \"previewUrl\":\"http://a5.mzstatic.com/us/r1000/116/Music/e2/ee/84/mzi.vaaqyzsc.aac.p.m4a\",
        \"artworkUrl30\":\"http://a4.mzstatic.com/us/r1000/099/Features/1c/f1/f0/dj.nvxfxzus.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a3.mzstatic.com/us/r1000/099/Features/1c/f1/f0/dj.nvxfxzus.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a1.mzstatic.com/us/r1000/099/Features/1c/f1/f0/dj.nvxfxzus.100x100-75.jpg\",
        \"collectionPrice\":7.99, \"trackPrice\":0.99, \"releaseDate\":\"2012-04-06T07:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":12, \"trackNumber\":1, \"trackTimeMillis\":226187,
        \"country\":\"GBR\", \"currency\":\"GBP\", \"primaryGenreName\":\"Alternative\"}]\n}\n\n\n"
  recorded_at: Thu, 26 Jul 2012 18:35:19 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Alabama%20Shakes%20Hold%20on%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Alabama%20Shakes%20Hold%20on%20NOT%20karaoke
      last-modified:
      - Wed, 25 Jul 2012 15:46:25 GMT
    body:
      encoding:[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Alabama%20Shakes%20Hold%20on&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 49 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Alabama%20Shakes%20Hold%20on&entity=song&country=GB&[...]
