---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=At%20The%20Drive%20In%20One%20Armed%20Scissor%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=At%20The%20Drive%20In%20One%20Armed%20Scissor%20NOT%20karaoke
      last-modified:
      - Tue, 24 Jul 2012 16:03:48 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 8, "limit": 100, "offset": 0, "query": "At
        The Drive In One Armed Scissor NOT karaoke", "type": "track", "page": 1},
        "tracks": [{"album": {"released": "2000", "href": "spotify:album:3fpwDgOHVqI2q4PuG4SKGL",
        "name": "Relationship Of Command", "availability": {"territories": "US"}},
        "name": "One Armed Scissor", "popularity": "0.48731", "external-ids": [{"type":
        "isrc", "id": "US5260507003"}, {"type": "isrc", "id": "US5260507003"}], "length":
        260.0, "href": "spotify:track:2AIbNaLq0rHu0R27NGiWmw", "artists": [{"href":
        "spotify:artist:5E2rtn57BM2WPjwak4kGd5", "name": "At The Drive-In"}], "track-number":
        "3"}, {"album": {"released": "2011", "href": "spotify:album:5KkErYgImNauBeo093sJhw",
        "name": "Anthology: This Station Is Non-Operational", "availability": {"territories":
        "worldwide"}}, "name": "One Armed Scissor", "popularity": "0.40541", "external-ids":
        [{"type": "isrc", "id": "USGRR0000003"}], "length": 225.267, "href": "spotify:track:5txHeC5ZND9DO44tOIyqRj",
        "artists": [{"href": "spotify:artist:5E2rtn57BM2WPjwak4kGd5", "name": "At
        The Drive-In[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=At%20The%20Drive%20In%20One%20Armed%20Scissor&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 116 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=At%20The%20Drive%20In%20One%20Armed%20Scissor&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=At%20The%20Drive%20In%20One%20Armed%20Scissor&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - ST11
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '2077006'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":41990355, \"collectionId\":296545642, \"trackId\":296545652,
        \"artistName\":\"At the Drive-In\", \"collectionName\":\"This Station Is Non-Operational
        (Deluxe Version)\", \"trackName\":\"One Armed Scissor\", \"collectionCensoredName\":\"This
        Station Is Non-Operational (Deluxe Version)\", \"trackCensoredName\":\"One
        Armed Scissor\", \"artistViewUrl\":\"http://itunes.apple.com/gb/artist/at-the-drive-in/id41990355?uo=4\",
        \"collectionViewUrl\":\"http://itunes.apple.com/gb/album/one-armed-scissor/id296545642?i=296545652&uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/gb/album/one-armed-scissor/id296545642?i=296545652&uo=4\",
        \"previewUrl\":\"http://a3.mzstatic.com/us/r1000/065/Music/31/a3/f9/mzm.bjczxeuo.aac.p.m4a\",
        \"artworkUrl30\":\"http://a5.mzstatic.com/us/r1000/018/Music/2f/bd/d0/mzi.jqtqojki.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a4.mzstatic.com/us/r1000/018/Music/2f/bd/d0/mzi.jqtqojki.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a1.mzstatic.com/us/r1000/018/Music/2f/bd/d0/mzi.jqtqojki.100x100-75.jpg\",
        \"collectionPrice\":8.99, \"trackPrice\":0.99, \"releaseDate\":\"2007-07-03T07:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":18, \"trackNumber\":9, \"trackTimeMillis\":225267,
        \"country\":\"GBR\", \"currency\":\"GBP\", \"primaryGenreName\":\"Alternative\"}]\n}\n\n\n"
  recorded_at: Thu, 26 Jul 2012 18:35:20 GMT
recorded_with: VCR 2.2.3
