---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=%2BBeatles%20%2BYesterday%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=%2BBeatles%20%2BYesterday%20NOT%20karaoke
      last-modified:
      - Tue, 10 Jul 2012 15:39:25 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 535, "limit": 100, "offset": 0, "query":
        "+Beatles +Yesterday NOT karaoke", "type": "track", "page": 1}, "tracks":
        [{"album": {"released": "2010", "href": "spotify:album:0BCeflkkC6czcKvv5Ixcx9",
        "name": "# 1 Beatles Hits - The Best Of The Beatles", "availability": {"territories":
        "AD AE AF AG AI AL AM AN AO AQ AR AS AT AU AW AX AZ BA BB BD BE BF BG BH BI
        BJ BM BN BO BR BS BT BV BW BY BZ CA CC CD CF CG CH CI CK CL CM CN CO CR CU
        CV CX CY CZ DE DJ DK DM DO DZ EC EE EG EH ER ES ET FI FJ FK FM FO FR GA GB
        GD GE GF GG GH GI GL GM GN GP GQ GR GS GT GU GW GY HK HM HN HR HT HU ID IE
        IL IM IN IO IQ IR IS IT JE JM JO JP KE KG KH KI KM KN KP KR KW KY KZ LA LB
        LC LI LK LR LS LT LU LV LY MA MC MD MG MH MK ML MM MN MO MP MQ MR MS MT MU
        MV MW MX MY MZ NA NC NE NF NG NI NL NO NP NR NU NZ OM PA PE PF PG PH PK PL
        PM PN PR PS PT PW PY QA RE RO RU RW SA SB SC SD SE SG SH SI SJ SK SL SM SN
        SO SR ST SV SY SZ TC TD TF TG TH TJ TK TL TM TN TO TR TT TV TW TZ UA UG UM
        US UY UZ VA VC VE VG VI VN VU WF WS YE YT ZA ZM ZW ZZ"}}, "name": "Yesterday",
        "popularity": "0.56732", "external-ids": [{"type": "isrc", "id": "USA561009750"}],
        "length": 125.794, "href": "spotify:track:5jl7RHqBBQDUpth06de8rz", "artists":
        [{"href": "spotify:artist:3UkRtRjUOspJDyQmzRIyYk", "name": "#1 Beatles Now"}],
        "track-number": "7"}, {"album": {"released": "2010", "href": "spotify:album:0pdbZMzRAP3ejobVoHVdxN",
        "name": "The Beatles Greatest Hits Performed By The Frank Berman Band", "availability":
        {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AS AT AU AW AX AZ BA BB
        BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW BY BZ CA CC CD CF CG CH CI CK
        CL CM CN CO CR CU CV CX CY CZ DE DJ DK DM DO DZ EC EE EG EH ER ES ET FI FJ
        FK FM FO FR GA GB GD GE GF GG GH GI GL GM GN GP GQ GR GS GT GU[...]
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Beatles%20Yesterday&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 25 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Beatles%20Yesterday&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Beatles%20Yesterday&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '1005018'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":1,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"song\", \"artistId\":136975, \"collectionId\":458032395, \"trackId\":458032407,
        \"artistName\":\"The Beatles\", \"collectionName\":\"1\", \"trackName\":\"Yesterday\",
        \"collectionCensoredName\":\"1\", \"trackCensoredName\":\"Yesterday\", \"artistViewUrl\":\"http://itunes.apple.com/gb/artist/the-beatles/id136975?uo=4\",
        \"collectionViewUrl\":\"http://itunes.apple.com/gb/album/yesterday/id458032395?i=458032407&uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/gb/album/yesterday/id458032395?i=458032407&uo=4\",
        \"previewUrl\":\"http://a1.mzstatic.com/us/r1000/111/Music/ad/84/df/mzi.uutiswgn.aac.p.m4a\",
        \"artworkUrl30\":\"http://a2.mzstatic.com/us/r1000/105/Features/85/fe/95/dj.kfrgxzbp.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a1.mzstatic.com/us/r1000/105/Features/85/fe/95/dj.kfrgxzbp.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a5.mzstatic.com/us/r1000/105/Features/85/fe/95/dj.kfrgxzbp.100x100-75.jpg\",
        \"collectionPrice\":10.99, \"trackPrice\":0.99, \"releaseDate\":\"2000-11-13T08:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":2, \"discNumber\":1, \"trackCount\":27, \"trackNumber\":11,
        \"trackTimeMillis\":125147, \"country\":\"GBR\", \"currency\":\"GBP\", \"primaryGenreName\":\"Rock\"}]\n}\n\n\n"
  recorded_at: Thu, 12 Jul 2012 16:58:08 GMT
recorded_with: VCR 2.2.3
