---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Asdfghjkl%20Qwertyuiop%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Asdfghjkl%20Qwertyuiop%20NOT%20karaoke
      last-modified:
      - Wed, 25 Jul 2012 15:46:25 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "Asdfghjkl
        Qwertyuiop NOT karaoke", "type": "track", "page": 1}, "tracks": []}'
  recorded_at: Thu, 26 Jul 2012 18:35:20 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Asdfghjkl%20Qwertyuiop&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 34 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Asdfghjkl%20Qwertyuiop&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Asdfghjkl%20Qwertyuiop&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - ST11
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '2042008'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
  recorded_at: Thu, 26 Jul 2012 18:35:21 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=Asdfghjkl%20qwertyuiop%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=Asdfghjkl%20qwertyuiop%20NOT%20karaoke
      last-modified:
      - Wed, 25 Jul 2012 15:46:25 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "Asdfghjkl
        qwertyuiop NOT karaoke", "type": "track", "page": 1}, "tracks": []}'
  recorded_at: Thu, 26 Jul 2012 20:29:09 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=Asdfghjkl%20qwertyuiop&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 66 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Asdfghjkl%20qwertyuiop&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=Asdfghjkl%20qwertyuiop&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '1026019'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
  recorded_at: Thu, 26 Jul 2012 20:29:10 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track?q=asdfghjkl%20qwertyuiop%20NOT%20karaoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-location:
      - /search/1/track.json?q=asdfghjkl%20qwertyuiop%20NOT%20karaoke
      last-modified:
      - Mon, 30 Jul 2012 15:45:42 GMT
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "asdfghjkl
        qwertyuiop NOT karaoke", "type": "track", "page": 1}, "tracks": []}'
  recorded_at: Tue, 31 Jul 2012 16:05:07 GMT
- request:
    method: get
    uri: http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?term=asdfghjkl%20qwertyuiop&entity=song&country=GB&media=music&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-timing-app:
      - 44 ms
      x-apple-orig-url-path:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=asdfghjkl%20qwertyuiop&entity=song&country=GB&media=music&limit=1
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/wa/wsSearch?term=asdfghjkl%20qwertyuiop&entity=song&country=GB&media=music&limit=1
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '1001004'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":0,\n \"results\": []\n}\n\n\n"
  recorded_at: Tue, 31 Jul 2012 16:05:07 GMT
recorded_with: VCR 2.2.3
