<footer class="footer row">
	<div class="span12">
  <small>
    Qusic
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   	about_path %></li>
      <li><%= link_to "Contact", 	contact_path %></li>
			<li><%= link_to "Help",	help_path %></li>
    </ul>
  </nav>
	</div>
</footer>